/** Variables
 -------------------------------------*/
$input_height: 42px;
$border_radius: 6px;
$gray_light: #E6E7E9;
$gray_lighter: #fbfcfc;
$white: #ffffff;
$pink: #FF64C2;
$purple: #8E4AD6;
$main: #3b3838;