/** Custom
 -------------------------------------*/
@import 'variables', 'mixins', 'select', 'switch';


/** General
 -------------------------------------*/

 body {
    overflow-x: hidden;
    width: 100%;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Roboto Slab",serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $main;
    text-align: left;
    margin: 0px;
    padding: 0px;
    background-color: $gray_lighter;
 }

 header {
     margin-bottom: 3em;
 }

 .wrapper {
    width: 100%;
    min-height: 100vh;
    background: url(../img/bg.svg) no-repeat;
    background-position: left top;
    background-size: cover;
 }

  .logo {
    width: 215px;
    
    img {
        width: 100%;
        height: auto;
    }
  }

  .section-header {

    h1 {
        font-size: calc(2rem + (6 * (100vw - 400px)/ 624));
        line-height: 1.2;
        font-family: "Roboto Slab";
        font-weight: 900;
        margin-bottom: 1rem;
      }
    
      p {
        font-family: Barlow;
        font-size: calc(1.25rem + (0.25 * (100vw - 400px)/ 624));
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 1.5rem;
      }

  }

  .form {
      display: flex;
      flex-direction: column;
  }

  .time-zone {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;
      max-width: 390px;
  }

  .schedule {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      &-row {
        display: flex;
        flex-direction: row;
        font-family: Barlow;  
        font-size: calc(1rem + (0.25 * (100vw - 400px)/ 624));
        line-height: 1.5;
        font-weight: 400;
        margin-bottom: 0.5rem;
        gap: 5px;

        .day {
            width: 175px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-grow: 2;   
            background-color: $white;
            border: 1px solid $gray_light;
            border-radius: 10px; 
            padding: 10px 15px;              
        }

        .hour {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            background-color: $white;
            border: 1px solid $gray_light;
            border-radius: 10px;  
            padding: 10px 15px;   
            cursor: pointer;  
        }
        
        .on {
            background: $pink; 
            color: $white;            
        }

      }
  }

  .actions {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1.5rem;
  }

  .btn {
    font-family: "Roboto Slab",serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 10px 35px;
    margin-right: 1em;
    border: none;

    &:last-child {
        margin-right: 0px;
    }
  }

  .btn-link {
    color: $purple;
  }

  .btn-primary {
      background: $purple;
      color: $white;
      opacity: 1;
      border-radius: 30px;

      &:hover {
        background: $purple;
        opacity: .7;
      }
  }

  .mobile {
    display: none;
  }

  .desktop {
      display: flex;
  }

/** Tabs
 -------------------------------------*/
  
 .tabs--container {
	// width: 1024px;
	// width: 768px;
	// width: 480px;
	// width: 280px;
	margin: 0 auto;
}

.tabs {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.tabs--scrollable {
	display: flex;
	position: relative;
	top: 1px;
	flex-grow: 1;
	flex-shrink: 1;
	flex-direction: row;
	// justify-content: 
}

.tabs__scroller {
	background: $purple;
	border: 0 none;
    
	color: $white;
	font-size: 1em;
	padding: 0 0.75em;
	.fa {
		position: relative;
	}

    &--left {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    &--right {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
	&--left .fa {
		left: -1px;
	}
	&--right .fa {
		right: -2px;
	}
	&[disabled] {
		opacity: 0.5;
	}
	&:focus {
		outline: none;
	}
}

.tabs__toggle-group {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;
	flex-shrink: 1;
	position: relative;
	// top: 1px;
	z-index: 1;
	
	// New
	overflow-x: hidden;
	// border-bottom: 1px solid #00c;
	
}

.tabs__toggle {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	flex-grow: 1;
	flex-shrink: 1;
	/* flex-basis: 0%; */
	
	// New
	white-space: nowrap;
}

.tabs__toggle {
	
	margin: 0 2px;
	padding: 10px 24px;
	color: $main;
	text-align: center;
	background: $white;
	
	&:first-child {
		margin-left: 0;
	}
	
	&:hover {
		color: $purple;
	}
	
	&--active {
		// top: 1px;
		color: $purple;
		background: #fff;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: -1px;
			left: -1px;
			height: 4px;
			background-color: $purple;
		}
	}
}

.tabs__tabs-group {
	border: 1px solid $gray_light;
	background: $white;
}

.tabs__tab {
	width: 100%;
	padding: 24px;
}

// NEW
.tabs__left {
	// display: block;
	position: absolute;
	left: 0;
	opacity: 0.5;
	// z-index: 1;
	// height: 100%;
	&::before {
		content: '<';
		background: $purple;
		color: $white;
		width: 30px;
		display: inline-block;
	}
	&--active {
		opacity: 1;
	}
}

.tabs__right {
	position: absolute;
	right: 0;
	opacity: 0.5;
	// z-index: 1;
	&::after {
		content: '>';
		background: $purple;
		color: $white;
		width: 30px;
		display: inline-block;
	}
	&--active {
		opacity: 1;
	}
}


/** Breakpoint
 -------------------------------------*/
  
 

  @media (max-width: 600px) {

    .mobile {
        display: flex;
    }

    .desktop {
        display: none;
    }

    header {
        margin-bottom: 1em;
    }

    .tabs--container {
        width: 100%;
    }

    .actions {
        justify-content: center;
    }

    .allday {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 1em;
    }

    .schedule-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1%;

        .hour {
            width: 23%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
            border: 1px solid $gray_light;
            border-radius: 10px;  
            padding: 10px 15px;   
            cursor: pointer; 
            margin-bottom: .25em; 
        }
        
        .on {
            background: $pink; 
            color: $white;            
        }
    }

  }